.config/nvim/plugged/
.config/Code/
Sets
OSS/
.config/mutt/account.com.gmail.kushtrim
.config/mutt/account.com.hotmail.kushtrim
.config/mutt/account.com.unibo.kushtrim
.config/mutt/account.com.yahoo.kushtrim
.other
.local
.config/direnv/allow
