[user]
	email = trim.bresilla@gmail.com
	name = Trim Bresilla
[core]
    pager = delta --dark --plus-color="#012800" --minus-color="#340001" --theme="OneHalfDark"

[credential]
	helper = cache --timeout=10000

[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = red

[push]
    default = simple
[pull]
    rebase = true
[rebase]
    autostash = true

[merge]
    log = true
    ff = false
	tool = diffconflicts
[mergetool "diffconflicts"]
    cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
[mergetool]
    keepBackup = false

[alias]
    view = !grv
    ban = "!fd -E ".git" -H . | fzf | parallel 'git ignore {}; git rm -rf --cached {};'"
    uncommit = reset --soft HEAD^
    master = checkout master
    develop = checkout develop
    module = submodule
    clone = clone --recursive
    sshify = "!f(){ [[ $(git remote -v | awk 'NR==1{print $2}' | awk -F'/' '/com/ {print $1}') == "https:" ]] && git remote -v | awk 'NR==1{print $2}' | awk -F'/' '{print $4,$5}' | export read username reponame && git remote set-url origin git@github.com:$username/$reponame.git; }; f"
    get = "!f(){ INPUT=${1:-$(xsel --clipboard)}; NAMEEE=$(echo $INPUT | cut -d/ -f1-5); git clone --recursive $NAMEEE; }; f"
    down = "!f(){ INPUT=${1:-$(xsel --clipboard)}; NAMEEE=$(echo $INPUT | cut -d/ -f1-5); git clone --recursive $NAMEEE -- /home/$USER/down/$(echo $NAMEEE | cut -d/ -f5); }; f"
    unfuck = "!f(){ git reset --hard origin/`git rev-parse --abbrev-ref HEAD`; rm -fv `git st | grep ^? | cut -d' '  -f2-`; }; f"
    tree = log --graph --all --format=format:'%w(80,0,0)%C(bold magenta)%h%C(reset) %C(white)%ad%C(reset) %C(dim white)(%ar)%C(reset) %C(bold dim white)%aN%C(auto)%+D%C(reset)%n%C(bold white)%s%C(reset)%+b%n'
    publish = "!f(){ git push origin --follow-tags $1 && git checkout develop && hub browse; }; f"
    open = "!f(){ hub browse; }; f"
    remotes = remote -v
    branches = branch -a
    conflicts = !git diff --name-only --diff-filter=U
    fix = !git mergetool --tool=diffconflicts
