[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bresilla/WORK]
row=3
col=1

[/home/bresilla/MOUNT]
row=5
col=0

[/home/bresilla/DATA]
row=4
col=0

[/home/bresilla/temp]
row=2
col=1

[/home/bresilla/Sets]
row=0
col=1

[/home/bresilla/Downloads]
row=7
col=0

[/home/bresilla/VIRTUAL]
row=1
col=1

[/home/bresilla/Dots]
row=6
col=0

[/home/bresilla/REMOTE]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/bresilla]
row=2
col=0

